<div class="tab-container">
    <div class="search-box" *ngIf="(this.dataService.selectedUser | async); else welcomeScreen">
        <img class="search-icon" src="assets/icons/search.svg">
        <input [formControl]="inputControl" class="search-input" placeholder="Search post..." type="search">
    </div>
    <ng-template #welcomeScreen>
        <p class="welcome-message">No posts to show. Select a user to start.</p>
    </ng-template>
    <div class="posts-container">
        <ng-container *ngFor="let post of posts | async">
            <app-post *ngIf="postMatches(post, filterInput)" [post]="post" (delete)="deletePost($event)">
            </app-post>
        </ng-container>
    </div>
</div>