// backgrounds
$primary-bg: rgb(13, 17, 23);
$accent-bg: rgb(22, 27, 34);
$tile-bg: rgb(22, 27, 34);

// texts
$primary-text: white;
$secondary-text: rgb(139, 148, 158);

// attention colors
$attention-color: rgb(210, 153, 34);
$subtle-attention-color: rgba(187, 128, 9, 0.2);
$muted-attention-color: rgba(187, 128, 9, 0.4);

// other
$border-color: rgb(48, 54, 61);
$accent-color: rgb(88, 166, 255);
